# Dependencies
node_modules/

# Binaries & Large Executables
bin/*.exe
bin/TorrServer.exe

# Database & Runtime State
*.db
*.json.bak
settings.json
config.db

# Temporary Scripts
setup-git-token.js
push-repo.js

# Logs & Temporary files
*.log
.DS_Store
Thumbs.db
anime-scraper/storage/cache/
anime-scraper/storage/logs/

# Nested repositories
torrserver/

